<h1 class="text-center">Book Library</h1>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	
	
 <style>
 
 .title {
  position: relative;
}

.title span:last-child {
  position: absolute;
  right: 6px;   /* must be equal to parent's right padding */
}

 .my-navbar {
 
  background-color: #004080;
 
  border-color: #425766;
 
}
 
.my-navbar .navbar-brand {
 
  color: #fff;
 
}
 
.my-navbar .navbar-brand:hover, .my-navbar .navbar-brand:focus {
 
  color: #AAD5FF;
 
}
 
.my-navbar .navbar-text {
 
  color: #d7e2e9;
 
}
 
.my-navbar .navbar-nav > li > a {
 
  color: #fff;
 
}
 
.my-navbar .navbar-nav > li > a:hover, .my-navbar .navbar-nav > li > a:focus {
 
  color: #fff;
 
  background-color:#B05800;
 
}
 
.my-navbar .navbar-nav > li > .dropdown-menu {
 
  background-color: #2894FF;
 
}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a {
 
  color: #d7e2e9;
 
}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
 
  color: #fff;
 
  background-color: #004182;
 
}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > .divider {
 
  background-color: #69899f;
 
}
 
.my-navbar .navbar-nav > .active > a, .my-navbar .navbar-nav > .active > a:hover, .my-navbar .navbar-nav > .active > a:focus {
 
  color: #e5dbdb;
 
  background-color: #B05800;
 
}
 
.my-navbar .navbar-nav > .open > a, .my-navbar .navbar-nav > .open > a:hover, .my-navbar .navbar-nav > .open > a:focus {
 
  color: #e5dbdb;
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle {
 
  border-color: #425766;
 
}
 
.my-navbar .navbar-toggle:hover, .my-navbar .navbar-toggle:focus {
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle .icon-bar {
 
  background-color: #d7e2e9;
 
}
 
.my-navbar .navbar-collapse,
 
.my-navbar .navbar-form {
 
  border-color: #d7e2e9;
 
}
 
.my-navbar .navbar-link {
 
  color: #d7e2e9;
 
}
 
.my-navbar .navbar-link:hover {
 
  color: #e5dbdb;
 
}
 
 
 
@media (max-width: 767px) {
 
  .my-navbar .navbar-nav .open .dropdown-menu > li > a {
 
    color: #d7e2e9;
 
  }
 
  .my-navbar .navbar-nav .open .dropdown-menu > li > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
 
    color: #e5dbdb;
 
  }
 
  .my-navbar .navbar-nav .open .dropdown-menu > .active > a, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
 
    color: #e5dbdb;
 
    background-color: #425766;
 
  }
 
}
</style>
	
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js">
        </script>
        
	

<nav class="navbar my-navbar">
	<div class="container-fluid">
		<div class="navbar-header ">
			<a class="navbar-brand" href="#">Book Library</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="dropdown" ng-repeat="menu in menuBookList"><a 
				ng-show="menu.menuId===1 ||  menu.menuId===3 ||  menu.menuId===4"
				href="#{{menu.menuPath}}"
				ng-hide="menu.menuId===2 ||  menu.menuId===5 || menu.menuId===6 || menu.menuId===7 || menu.menuId===8">
					{{menu.menu_Name}}</a> 
					<a ng-show="menu.menuId==2" class="dropdown-toggle" data-toggle="dropdown">{{menu.menu_Name}}
					<span class="caret"></span>
			</a>
			
				<ul class="dropdown-menu">
					<li class="dropdown" ng-repeat="menu in menuBookList"><a
						ng-show="menu.menuParentId==2" href="#{{menu.menuPath}}">
							{{menu.menu_Name}} </a></li>
				</ul></li>
		</ul>
	</div>
</nav>
<div class="title">
<span id="datetime"></span>
</div>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>

<div ng-show="userDetails">
	<div class="row">
		<div class="col-lg-3 col-md-offset-9" style="font-size: 15px;">
			<span> <i class="fa fa-user" aria-hidden="true"
				style="font-size: 20px;"></i> Welcome {{ userDetails.userName }}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-offset-9" style="font-size: 15px;">
			<span><i class="fa fa-clock-o" aria-hidden="true"
				style="font-size: 20px;"></i> Last Login :
				{{userDetails.lastUpdatedDateTime }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-offset-9" style="font-size: 18px;">
			<span class="fa fa-power-off" aria-hidden="true"
				style="font-size: 20px;"><a href="" ng-click="logout()"> Logout</a></span>
		</div>
	</div>
</div>


