<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
</head>
<body>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope) {
            $scope.IsVisible = false;
            $scope.ScienceBooks = function () {
                $scope.Customers = [
                	{Book_Id:101,Category_Id:1,Book_Name:'Elegant Universe ',Book_Author:'Brian Greene ',Created_By:'smore11',Created_Date:'12/06/19'},
                    {Book_Id:102,Category_Id:1,Book_Name:'Artificial Intelligence',Book_Author:' Melanie Mitchell',Created_By:'smore11',Created_Date:'12/06/19'},
                    {Book_Id:103,Category_Id:1,Book_Name:'Know-It-All Society',Book_Author:' Michael P. Lynch',Created_By:'smore11',Created_Date:'12/06/19'},
                 ],
                $scope.IsVisible = true;
            };
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        <input type="button" value="Science Books" ng-click="ScienceBooks()" />
        <hr />
        <table cellpadding="0" cellspacing="0" ng-show="IsVisible">
            <tr>
               <th>Book_Id</th>
               <th>Category_Id</th>
               <th>Book_Name</th>
                <th>Book_Author</th>
                  <th>Created_By</th>
                    <th>Created_Date</th>
            </tr>
             <tbody ng-repeat="m in Customers">
                <tr>
                    <td>{{ m.Book_Id }}</td>
               <td>{{ m.Category_Id }}</td>
               <td>{{ m.Book_Name }}</td>
               <td>{{ m.Book_Author }}</td>
               <td>{{ m.Created_By}}</td>
               <td>{{ m.Created_Date }}</td>
                </tr>
            </tbody> 
        </table>
    </div>
</body>
</html>