.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 0.714em;
	padding: 2px;
	background-color: #1e1e1e;
	color: white;
	text-align: center;
	z-index: 1000;
}

table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}
<style>
.main-w3layouts {
    padding: 2em 0 1em;
}
.wrapper {
    /* position: relative; */
    overflow: hidden;
}

.main-agileinfo {
    width: 95%;
 text-align: center;
}
.agileits-top {
    padding: 2.2em;
    width: 75%;
 margin: 1.5em 0;
 text-align: center;

}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
}
input.email, input.text.w3lpass {
    margin: 1.5em 0;
}
div {
    display: block;
}
input.checkbox {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
}
label {
    cursor: default;
}
.w3copyright-agile {
    margin: 2em 0 1em;
    text-align: center;
}
social.h3 {
color:pink;
font-size: 14px;
}
</style>
