<div>
	<h1>Science Books</h1>

		<form>
		  <div class="form-group">
		    <label for="email">Book Name:</label>
		    <input type="text" class="form-control" id="email" ng-model="bookName">
		  </div>
		  <div class="form-group">
		    <label for="pwd">Book Author:</label>
		    <input type="text" class="form-control" id="pwd" ng-model="bookAuthor">
		  </div>
		  <button type="submit" class="btn btn-primary" ng-click="addBook()">Submit</button>
		</form>

	<table>
		<thead>
			<tr>
				<th>Book ID</th>
				<th>Book Name</th>
				<th>Book Author</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in scienceBookList">
				<td>{{ item.bookId }}</td>
				<td>{{ item.bookName }}</td>
				<td>{{ item.bookAuthor }}</td>
			</tr>
		</tbody>
	</table>
</div>